*{
    margin: 0;
    padding: 0;
}





.container {
  
}


#friendName{
    text-align: center;
    margin-bottom: 20px;
     text-shadow: 0px 0px 9px white;
    font-size: 54px;
    text-transform: capitalize;
    color: white;
    background-color: red;
    padding: 30px;
    border-radius:40px;
}
#chatArea{
 margin-left: 20px;
 margin-right: 20px;
 height: 950px;
 


}
#messageInput{
    width: 90%;
    padding: 10px;
    border: 1px solid red;
    margin-left: 20px;
    padding: 40px;
    margin-left: 7px;
    border-radius: 4px;
    border-radius: 20px;
    font-size: 30px;
  

}
#sendBtn{
    padding: 10px 15px;
    background-color:red;
    padding: 40px;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 40px;
    margin:0 auto;
    display: block;
    margin-top: 40px;
    border-radius:60px;
    color: white;
    border: none;
    
    cursor: pointer;
}
#back{
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px;
   
}
#out{
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
      padding: 30px;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 9px gray;
   
    
}
.in{
  position: absolute;
  bottom: 0;
  right: 0;
 
}
#chatArea {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    color: black; 
}
/* Chat area container */
#chatArea {
  height: 700px;
  overflow-y: auto;
  padding: 10px;
  background-color: #ece5dd; /* WhatsApp chat background */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Generic message bubble */
.message {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 20px;
  word-wrap: break-word;
  display: inline-block;
  font-size: 14px;
  position: relative;
}


.sent {
  align-self: flex-end; 
  box-shadow: 0px 0px 9px red;
  color:black;
  margin-left: auto;
  font-size: 54px;
  margin: 40px;
}


.received {
  align-self: flex-start; 
  background-color: #fff; 
  color: #000;
  margin-right: auto;
  font-size: 54px;
box-shadow: 0px 0px 9px black;
}


.message small {
  font-size: 10px;
  color: #999;
  display: block;
  margin-top: 2px;
  text-align: right;
}


#chatArea::-webkit-scrollbar {
  width: 6px;
}

#chatArea::-webkit-scrollbar-thumb {
  background-color: red;
border-radius: 40px;
  
}




