*{
    margin: 0;
    padding: 0;
}
body{
    border: 1px solid gray;
    margin: 50px;
    border-radius: 20px;
    
    height: 78em;
    box-shadow: 0px 0px 9px red;
}
header{
    border: 1px solid gray;
    padding: 50px;
    background-color: red;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    text-align: center;
}
form{
   
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
input{
    width: 80%;
    padding: 30px;
    margin:0 auto;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 27px;
    border-radius: 30px;
    box-shadow: 0px 0px 9px red;


}
#bio{
     width: 80%;
    padding: 30px;
    margin:0 auto;
    padding-bottom: 50px;
     margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 27px;
    border-radius: 30px;
    box-shadow: 0px 0px 9px red;
}
button{
    padding: 27px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid gray;
    color: white;
    background-color: red;

}
#account{
    font-size: 30px;
    text-align: center;
}
#account a{
    color: red;
    text-decoration: none;
}
.img{
    margin:0 auto;
    display: block;
    margin-top: 30px;
    width: 30%;
    
}