*{
    margin: 0;
    padding: 0;
}
body{
    
    margin: 40px;
    box-shadow: 0px 0px 9px red;
    border-radius: 20px;
}
.header{
   border: 1px solid gray;
   padding: 50px;
   text-align: center;
   border-radius: 20px;
   background-color: red;
   color: white;
}
#profilePic{
    border-radius: 100%;
    margin:0 auto;
    display: block;
    margin-top: 60px;
}


#bio{
    margin-top: 40px;
    margin-bottom: 60px;
    width: 90%;
    margin-left: 40px;
    text-align: center;
}
#dob{
 margin-left: 60px;
 margin-bottom: 20px;
}
#phone{
    margin-left: 60px;
}
#email{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 60px;
}
.btn{
    display: flex;
    flex-direction: column;
}
button{
    padding: 40px;
    border-radius: 20px;
    border: none;
    background-color: red;
    margin-bottom: 30px;
    font-size: 34px;
    color: white;
}
