
*{
    margin: 0;
    padding: 0;
}
body{
  border: 1px solid gray;
  margin: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 9px red;
  
}
 .container h1{
    
    padding: 40px;
    position: fixed;
    width: 81%;
    border-radius: 30px;
    background-color: red;
    top: 0;
    text-align: center;
    font-size: px;
    color: white;
}

.userItem {
   padding: 50px;
   margin-top: 50px;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   font-size: 40px;
   color: red;
   text-transform: capitalize;
  
}

.userItem:hover {
   
}

.userItem img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 9px gray;
  margin-bottom: 60px;
  margin-left: 130px;
  margin-top: 40px;
}

.userItem div p {
  margin: 0;
  font-size: 12px;
  font-size: 40px;
  color: gray ;
  
}

.addFriendBtn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color:red;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  padding: 30px;
  border-radius: 20px;
}

.addFriendBtn:hover {
  background-color: rgba(255,255,255,0.8);
  
}
#backProfile{
  background-color: red;
  color: white;
  margin: auto;
  display: block;
  padding: 40px;
  width: 60%;
  border: none;
  border-radius: 20px;
  font-size: 40px;
}
#logout{
  background-color: red;
  color: white;
  margin: auto;
  display: block;
  padding: 40px;
  width: 60%;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}